<!-- -*- mode: XML -*- -->
<launch>

	<arg name="sensing_hz" default="20" />
	<arg name="model" default="$(find fidi_robot)/urdf/model.urdf"/>

	<param name="robot_description" textfile="$(find fidi_robot)/urdf/model.urdf" />
	<node pkg="tf" type="static_transform_publisher" name="base_imu_broadcaster" args="0.0 0.0 0.05 -1.5708 0 0 base_link imu_link 100" />

	<node name="vl53l0x_driver" pkg="vl53l0x_driver" type="vl53l0x_driver" respawn="true" respawn_delay="5" >
		<param name="frequency" value="$(arg sensing_hz)" />
	</node>
	<node name="imu_pub_node" pkg="bbblue_drivers" type="imu_pub_node" respawn="true" />
	
</launch>
