<?xml version="1.0"?>
<launch>
    <node name="pixy2_node" pkg="pixy2_node" type="pixy2_node" output="screen">
        <param name="rate" value="20.0"/>
        <param name="use_servos" value="false"/>
        <param name="queue_size" value="1"/>
        <param name="enable_lamp" value="false"/>
    </node>
</launch>
